<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<body>
    <div layout:fragment="content" class="container">
        <p>
            <label>Well, well, well, unexpected error! It may be caused by following reasons:</label>
            <ul>
                <li>You entered Film's id, which doesn't exists -> Go to Kinopoisk.ru, they have much more better search mechanism</li>
                <li>Problems with server's internet connection -> Just wait, or write me to my mail, i'll fix in a day. Email: sh.sigmaone@gmail.com</li>
            </ul>
        </p>

        <a href="/films/top">Back to top films</a>
    </div>
</body>
</html>
