<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="Film"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
</head>

<!-- Todo: Add film's images -->
<body>
    <dataset th:object="${film}">
        <label>Name:</label>
        <label th:text="${film.name}"/> <br/>

        <label>Year:</label>
        <label th:text="${film.year}"/> <br/>

        <label>Country:</label>
        <label th:text="${film.country}"/> <br/>

        <label>Genre:</label>
        <label th:text="${film.genre}"/> <br/><br/>
    </dataset>
</body>
</html>
